flows/flows.json
[
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Maestra MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },

    {
        "id": "tab_device_monitor",
        "type": "tab",
        "label": "Device Monitor",
        "disabled": false,
        "info": "Monitors device heartbeats arriving via MQTT and displays activity in the debug panel.",
        "env": []
    },
    {
        "id": "dm_mqtt_in",
        "type": "mqtt in",
        "z": "tab_device_monitor",
        "name": "Device Heartbeats",
        "topic": "maestra/devices/+/heartbeat",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            ["dm_json_parse"]
        ]
    },
    {
        "id": "dm_json_parse",
        "type": "json",
        "z": "tab_device_monitor",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 200,
        "wires": [
            ["dm_format_fn"]
        ]
    },
    {
        "id": "dm_format_fn",
        "type": "function",
        "z": "tab_device_monitor",
        "name": "Format Heartbeat",
        "func": "var data = msg.payload;\nvar deviceName = msg.topic.split('/')[2] || 'unknown';\nmsg.payload = {\n    device: deviceName,\n    status: data.data ? data.data.status : 'heartbeat',\n    timestamp: data.timestamp || new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 200,
        "wires": [
            ["dm_debug"]
        ]
    },
    {
        "id": "dm_debug",
        "type": "debug",
        "z": "tab_device_monitor",
        "name": "Device Activity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.device",
        "statusType": "auto",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "dm_comment",
        "type": "comment",
        "z": "tab_device_monitor",
        "name": "How to use this flow",
        "info": "This flow monitors device heartbeat messages arriving via MQTT. Deploy this flow and register a device to see heartbeats appear in the debug panel (sidebar > bug icon).\n\nHeartbeats arrive on `maestra/devices/+/heartbeat` where `+` is the device slug. MQTT-native devices (Arduino, ESP32) publish heartbeats directly to this topic. The function node extracts the device name from the topic and formats a clean summary.",
        "x": 160,
        "y": 100,
        "wires": []
    },

    {
        "id": "tab_entity_controller",
        "type": "tab",
        "label": "Entity Controller",
        "disabled": false,
        "info": "Demonstrates controlling entity state via MQTT and monitoring real-time state change broadcasts.",
        "env": []
    },
    {
        "id": "ec_inject_bright",
        "type": "inject",
        "z": "tab_entity_controller",
        "name": "Set Brightness to 100",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"brightness\":100}",
        "payloadType": "json",
        "x": 180,
        "y": 140,
        "wires": [
            ["ec_prepare_fn"]
        ]
    },
    {
        "id": "ec_inject_dim",
        "type": "inject",
        "z": "tab_entity_controller",
        "name": "Set Brightness to 25",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"brightness\":25}",
        "payloadType": "json",
        "x": 180,
        "y": 200,
        "wires": [
            ["ec_prepare_fn"]
        ]
    },
    {
        "id": "ec_inject_off",
        "type": "inject",
        "z": "tab_entity_controller",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\":false,\"brightness\":0}",
        "payloadType": "json",
        "x": 150,
        "y": 260,
        "wires": [
            ["ec_prepare_fn"]
        ]
    },
    {
        "id": "ec_prepare_fn",
        "type": "function",
        "z": "tab_entity_controller",
        "name": "Prepare MQTT Update",
        "func": "// Target entity slug - change this to match your entity\nvar slug = 'gallery-light-1';\n\n// Set MQTT topic for state merge update\nmsg.topic = 'maestra/entity/state/update/' + slug;\n\n// Wrap payload in the expected envelope\nmsg.payload = JSON.stringify({\n    state: msg.payload,\n    source: 'nodered'\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            ["ec_mqtt_out"]
        ]
    },
    {
        "id": "ec_mqtt_out",
        "type": "mqtt out",
        "z": "tab_entity_controller",
        "name": "Publish State Update",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec_mqtt_state",
        "type": "mqtt in",
        "z": "tab_entity_controller",
        "name": "All Entity State Broadcasts",
        "topic": "maestra/entity/state/+/+",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 400,
        "wires": [
            ["ec_json_parse"]
        ]
    },
    {
        "id": "ec_json_parse",
        "type": "json",
        "z": "tab_entity_controller",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 400,
        "wires": [
            ["ec_format_state"]
        ]
    },
    {
        "id": "ec_format_state",
        "type": "function",
        "z": "tab_entity_controller",
        "name": "Format State Change",
        "func": "var data = msg.payload;\nvar parts = msg.topic.split('/');\nvar entityType = parts[3] || 'unknown';\nvar slug = parts[4] || 'unknown';\n\nmsg.payload = {\n    entity: slug,\n    type: entityType,\n    state: data.current_state,\n    changed: data.changed_keys,\n    source: data.source || 'unknown'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 400,
        "wires": [
            ["ec_debug_state"]
        ]
    },
    {
        "id": "ec_debug_state",
        "type": "debug",
        "z": "tab_entity_controller",
        "name": "State Changed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.entity",
        "statusType": "auto",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "ec_comment",
        "type": "comment",
        "z": "tab_entity_controller",
        "name": "How to use this flow",
        "info": "Control an entity's state via MQTT. Click an inject button to update the entity's state. The state manager subscribes to these MQTT topics and processes the update.\n\nPrerequisite: Create an entity with slug 'gallery-light-1' via the Fleet Manager API or Dashboard first.\n\n**Top row - State Updates (device -> Maestra):**\nPublishes to `maestra/entity/state/update/<slug>` with payload `{\"state\": {...}, \"source\": \"nodered\"}`.\nThe state manager merges this into the entity's current state (PATCH semantics).\nTo replace state entirely, change the topic to `maestra/entity/state/set/<slug>`.\n\n**Bottom row - State Broadcasts (Maestra -> devices):**\nListens on `maestra/entity/state/+/+` which matches `maestra/entity/state/<entity_type>/<slug>`.\nThese broadcasts fire whenever any entity's state changes, from any source (MQTT, HTTP API, NATS, OSC).\nThe payload includes: current_state, previous_state, changed_keys, source, and timestamp.\n\nTo target a specific entity, change the listener topic to `maestra/entity/state/+/gallery-light-1`.",
        "x": 160,
        "y": 60,
        "wires": []
    },

    {
        "id": "tab_event_logger",
        "type": "tab",
        "label": "Event Logger",
        "disabled": false,
        "info": "Captures and logs all messages flowing through the Maestra MQTT bus for debugging and system understanding.",
        "env": []
    },
    {
        "id": "el_mqtt_in",
        "type": "mqtt in",
        "z": "tab_event_logger",
        "name": "All Maestra Events",
        "topic": "maestra/#",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            ["el_format_fn"]
        ]
    },
    {
        "id": "el_format_fn",
        "type": "function",
        "z": "tab_event_logger",
        "name": "Format Event",
        "func": "var topic = msg.topic;\nvar timestamp = new Date().toISOString();\n\n// Try to parse JSON payload\nvar data;\ntry {\n    data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    data = msg.payload;\n}\n\nmsg.payload = timestamp + ' | ' + topic + ' | ' + JSON.stringify(data).substring(0, 200);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            ["el_debug"]
        ]
    },
    {
        "id": "el_debug",
        "type": "debug",
        "z": "tab_event_logger",
        "name": "Event Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "el_comment",
        "type": "comment",
        "z": "tab_event_logger",
        "name": "How to use this flow",
        "info": "This flow captures ALL messages on the Maestra MQTT bus. Use this for debugging and understanding how messages flow through the system. Check the debug panel (sidebar > bug icon) to see events in real-time.\n\nThe wildcard subscription `maestra/#` matches every topic under the `maestra/` namespace, including:\n- Device heartbeats: `maestra/devices/+/heartbeat`\n- Entity state updates (inbound): `maestra/entity/state/update/<slug>`\n- Entity state broadcasts (outbound): `maestra/entity/state/<type>/<slug>`\n- Entity lifecycle: `maestra/entity/created/<type>/<slug>`, `maestra/entity/updated/...`, `maestra/entity/deleted/...`\n- Stream events: `maestra/stream/...`\n\nEach log line shows: timestamp | topic | payload (truncated to 200 chars).",
        "x": 160,
        "y": 100,
        "wires": []
    },

    {
        "id": "tab_show_control",
        "type": "tab",
        "label": "Show Control",
        "disabled": false,
        "info": "Listens for show state changes and logs them. Use this as a starting point for custom show control logic (e.g., trigger lighting cues, start audio, control projections based on show phase).",
        "env": []
    },
    {
        "id": "sc_mqtt_in",
        "type": "mqtt in",
        "z": "tab_show_control",
        "name": "Show State Changes",
        "topic": "maestra/entity/state/show_control/show",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [
            ["sc_json_parse"]
        ]
    },
    {
        "id": "sc_json_parse",
        "type": "json",
        "z": "tab_show_control",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 380,
        "y": 200,
        "wires": [
            ["sc_extract_phase", "sc_debug"]
        ]
    },
    {
        "id": "sc_extract_phase",
        "type": "function",
        "z": "tab_show_control",
        "name": "Extract Phase",
        "func": "var data = msg.payload;\nvar phase = data.current_state ? data.current_state.phase : 'unknown';\nvar previousPhase = data.current_state ? data.current_state.previous_phase : null;\nmsg.phase = phase;\nmsg.previousPhase = previousPhase;\nmsg.payload = {\n    phase: phase,\n    previous_phase: previousPhase,\n    source: data.source || 'unknown',\n    timestamp: data.current_state ? data.current_state.transition_time : new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            ["sc_switch"]
        ]
    },
    {
        "id": "sc_switch",
        "type": "switch",
        "z": "tab_show_control",
        "name": "Route by Phase",
        "property": "phase",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "pre_show", "vt": "str"},
            {"t": "eq", "v": "active", "vt": "str"},
            {"t": "eq", "v": "paused", "vt": "str"},
            {"t": "eq", "v": "shutdown", "vt": "str"},
            {"t": "else"}
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 780,
        "y": 200,
        "wires": [
            ["sc_preshow_debug"],
            ["sc_active_debug"],
            ["sc_paused_debug"],
            ["sc_shutdown_debug"],
            ["sc_other_debug"]
        ]
    },
    {
        "id": "sc_preshow_debug",
        "type": "debug",
        "z": "tab_show_control",
        "name": "PRE-SHOW",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "statusVal": "pre_show",
        "statusType": "auto",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "sc_active_debug",
        "type": "debug",
        "z": "tab_show_control",
        "name": "ACTIVE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "statusVal": "active",
        "statusType": "auto",
        "x": 970,
        "y": 170,
        "wires": []
    },
    {
        "id": "sc_paused_debug",
        "type": "debug",
        "z": "tab_show_control",
        "name": "PAUSED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "statusVal": "paused",
        "statusType": "auto",
        "x": 975,
        "y": 220,
        "wires": []
    },
    {
        "id": "sc_shutdown_debug",
        "type": "debug",
        "z": "tab_show_control",
        "name": "SHUTDOWN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "statusVal": "shutdown",
        "statusType": "auto",
        "x": 980,
        "y": 270,
        "wires": []
    },
    {
        "id": "sc_other_debug",
        "type": "debug",
        "z": "tab_show_control",
        "name": "Other Phase",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "statusVal": "other",
        "statusType": "auto",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "sc_debug",
        "type": "debug",
        "z": "tab_show_control",
        "name": "Raw Show Event",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "sc_comment",
        "type": "comment",
        "z": "tab_show_control",
        "name": "Show Control Flow",
        "info": "This flow listens for show state changes via MQTT and routes them by phase.\n\nConnect your custom logic to the phase outputs:\n- PRE-SHOW: warm up lights, start ambient audio, calibrate sensors\n- ACTIVE: start main content, enable interactions\n- PAUSED: freeze current state, mute audio\n- SHUTDOWN: blackout lights, stop all outputs, prepare for power off\n\nShow phases: idle, pre_show, active, paused, post_show, shutdown\n\nTo trigger show transitions from Node-RED, use an MQTT out node:\n- Topic: maestra/show/command/go\n- Topic: maestra/show/command/pause\n- Topic: maestra/show/command/shutdown",
        "x": 170,
        "y": 100,
        "wires": []
    }
]
